<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h5 class="mt-4 mb-3 col-md-2 py-1 text-center">会員一覧</h5>

      <table class="table table-sm col-md-10 mx-auto">
        <thead class="thead-light">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.name, admin_customer_path(customer.id) %></td>
            <td><%= customer.email %></td>
            <td>
              <%if customer.is_active == true %>
                有効
              <% else %>
                退会
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>

      <%= paginate @customers %>
    </div>
  </div>
</div>
